.sliding-pages-viewport {
    overflow-x: hidden;
    width: 100vm;
}

.sliding-pages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    left: 0px;
    position: relative;
    transition: all 0.5s linear;
    width: 100vw;
}
